  /* Hexagonos */
  .social-card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .hexagon-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin-top: 10px;
  }
  
  .hexagon {
    width: 90px;
    height: 90px;
    background-color: rgba(0, 0, 0, 1);
    clip-path: polygon(25% 6.7%, 75% 6.7%, 100% 50%, 75% 93.3%, 25% 93.3%, 0% 50%);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0.1);
    transition: transform 0.3s ease, background-color 0.3s ease;
  }
  
  .hexagon:hover {
    background-color: rgba(0, 0, 0, 1);
    transform: scale(1.1);
  }
  
  .hexagon:nth-child(2n) {
    margin-top: 45px;
  }
  
  .hexagon-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
  }
  
  .icon {
    width: 24px;
    height: 24px;
    margin-bottom: 6px;
  }

  /* Custom Scroll */
  @media (min-width: 1024px) {
    .custom-scroll {
      margin-right: -5px ;
    }
  }
  
  .custom-scroll::-webkit-scrollbar {
    width: 4px;
    background-color: transparent;
  }
  
  .custom-scroll::-webkit-scrollbar-track {
    background-color: transparent;
  }
  
  .custom-scroll::-webkit-scrollbar-thumb {
    background-color: #666666;
    border-radius: 20px;
    background-image: none;
  }
  
  .custom-scroll::-webkit-scrollbar-thumb:hover {
    background-color: #4d4d4d;
  }

  @media (max-width: 1024px) {
    /* Ajustar la grilla en la cabecera */
    .grid-cols-3 {
      grid-template-columns: 1fr;
    }
  
    /* Zona izquierda: ajuste de tamaño en tarjetas */
    .min-h-200 {
      min-height: 200px;
    }
    .max-w-md {
      max-width: 100%;
    }
  
    /* Tamaño de hexágonos */
    .hexagon {
      width: 60px;
      height: 60px;
    }
  
    /* Zona de en medio | DigitalPass */
    .h-full {
      height: auto;
    }
  }